<div class="ui sidebar secondary vertical menu sidebar-menu" [ngClass]="{'visible': isSidebarOpen}" id="sidebar">

  <a routerLink="/dashboard" routerLinkActive="active" class="item">
    <div>
      <i class="icon tachometer alternate"></i>
      Dashboard
    </div>
  </a>
  <a routerLink="/settings" routerLinkActive="active" class="item">
    <div><i class="cogs icon"></i>Settings</div>
  </a>

  <a routerLink="/charts" routerLinkActive="active" class="item">
    <div>
      <i class="icon chart line"></i>
      Charts
    </div>
  </a>

  <a routerLink="/calendar" routerLinkActive="active" class="item">
    <div>
      <i class="icon calendar alternate"></i>
      Calendar
    </div>
  </a>

  <!-- <div class="ui segment">
    <div class="ui tiny olive progress">
      <div class="bar" style="width: 54%"></div>
      <div class="label">Monthly Bandwidth</div>
    </div>

  </div> -->
</div>



<nav class="ui top fixed menu dark-background">
  <div class="left menu">
    <div class="sidebar-menu-toggler item" (click)="toggleSidebar()">
      <i class="sidebar icon"></i>
    </div>
    <p class="header item" style="color: #64CCC5;">
      Semantic Dashboard
    </p>
  </div>

  <div class="right menu">
    <div class="item">
      <div class="ui mini action input">
        <input type="text" placeholder="Search..." class="darker-background" style="background-color: #DAFFFB;" />
        <button class=" ui mini icon button" style="background-color: #64CCC5">
          <i class=" search icon dark-color"></i>
        </button>
      </div>
    </div>
    <div class="item">
      <i class="bell icon light-color"></i>
    </div>
  </div>
</nav>


<div class="pusher">
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>