.ui.vertical.menu.sidebar-menu {
    margin-top: 50px !important;
    max-height: calc(100% - 50px) !important;
    height: calc(100% - 50px) !important;
    background-color: #176B87;
}

.pusher {
    background-color: #DAFFFB;
}

nav {
    height: 50px;
    background-color: #176B87;
}

.ui.vertical.menu.sidebar-menu .item i.icon {
    float: left;
    margin: 0em 0.5em 0em 0em;
}

.ui.vertical.menu.sidebar-menu .item {
    color: #64CCC5;
}

.ui.vertical.menu.sidebar-menu .active {
    background-color: #001C30;
}

.main-content {
    margin-top: 50px;
}

@media (min-width: 768px) {
    .ui.vertical.menu.sidebar-menu {
        visibility: visible;
        transform: translate3d(0, 0, 0);
        width: 15rem !important;
    }

    .main-content {
        margin-left: 15rem;
    }

    .sidebar-menu-toggler {
        display: none !important;
    }
}

.dark-color {
    color: #176B87;
}

.darker-color {
    color: #001C30;
}

.light-color {
    color: #64CCC5;
}

.lighter-color {
    color: #DAFFFB;
}

.dark-background {
    background-color: #176B87;
}

.darker-background {
    background-color: #001C30;
}

.light-backgound {
    background-color: #64CCC5;
}

.lighter-backgound {
    background-color: #DAFFFB;
}